<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/092c088484.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Ubuntu:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Clock</title>
</head>

<body>
    <form action="/" method="post">
        <input type="text" value="City Name" class="search" name="cityName">
        <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass-location fa-bounce"></i></button>
    </form>
    <div class="container">
        <h1 id="time"></h1>
        <p id="session"></p>
        <h3 class="day"></h3>
        <div class="img"></div>
        <p class="weather"></p>
    </div>

    <script src="/clock.js"></script>
</body>

</html>